@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=WindSong:wght@500&display=swap");

:root {
    --primary-color: #fff;
    --text-color-primary: #4d4d4d;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

p,
span,
a {
    color: var(--text-color-primary) !important;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--text-color-primary) !important;
    opacity: 0.7;
}

.content {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.primary-button,
.secondary-button,
.tetiary-button {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    color: var(--text-color-primary);
}

.primary-button {
    background-color: #111729;
    color: #fff;
}

.tetiary-button {
    background-color: transparent;
}

@keyframes DropDown {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes RightToLeft {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}
